#loading {
	position: absolute; 
	width: 100%; 
	height: 100%; 
	background: url('../img/url.gif') no-repeat center center;
}

.navbar-vmware .navbar-inner {
    background-color: #1b1b1b;
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    border-color: #252525;
}

.entity-link.selected, .entity-link.selected:focus, .entity-link.selected:hover {
	background-color: #1b1b1b;
	color: #FFFFFF;
	text-shadow: "0 1px 0 rgba(255, 255, 255, 0.5)";
}

.log-line.exact-line {
	background: #fff785;
}
/* Start css for timeline log level */
/* custom styles for individual items, load this after timeline.css */

div.info {
    background-color: greenyellow;
    border-color: green;
}

/* create a custom sized dot at the bottom of the red item */
div.error {
    background-color: red;
    border-color: darkred;
    color: white;
    font-family: monospace;
    box-shadow: 0 0 10px gray;
}
div.timeline-event-dot.error {
    border-radius: 10px;
    border-width: 10px;
}
div.timeline-event-line.error {
    border-width: 5px;
}
div.timeline-event-box.error {
    border-radius: 0;
    border-width: 2px;
    font-size: 24pt;
    font-weight: bold;
}

div.warning {
    background-color: gold;
    border-color: orange;
}
div.timeline-event-selected.warning {
    /* custom colors for selected orange items */
    background-color: orange;
    border-color: orangered;
}

div.fatal {
    background-color: magenta;
    border-color: purple;
    color: white;
}

/* our custom classes overrule the styles for selected events,
so lets define a new style for the selected events */
    div.timeline-event-selected {
        background-color: white;
        border-color: black;
        color: black;
        box-shadow: 0 0 10px gray;
    }

/* End css for timeline log level */
