{% extends "layout.html" %}
{% block body %}
    <div class="container">
	  <div class="clearfix">
		  <h4 class="pull-left">Patterns</h4>
		  <div class="pull-right" style="margin-top: 10px;">
			  <button class="btn btn-info" style="margin-right:20px;">
			  	<i class="icon-plus icon-white"></i> Add
			  </button>
	      </div>
	  </div>
      
	  <hr/>
	  
		{% for p in patterns %}
			<div class="well" style="margin-bottom: 20px;">
				  {% for detail in  p['details'] %}
							 <p><b>Log file:</b> {{ p.log_type }} </p>
							 <p><b>Sympton:</b> {{ detail.name}} </p>
							 <p><b>Regex:</b> {{ detail.full }} </p>
					{% endfor %}
			</div>
		{% endfor %}
    </div> <!-- /container -->
{% endblock %}
