<!DOCTYPE html>
<html>
  <head>
    <title>Borathon App</title>    
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">;
  </head>
  <body>
   
  <header>
  <div class="container">
    <h1 class="logo">Borathon App</h1>
    <strong><nav>
      <ul class="menu">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
      </ul>
    </nav></strong>
  </div>
  </header> 
   <div class="container">

      <div class="row">
        <div class="">
          <center>
            <!-- <h2><span style="color: #333">hum</span><span style="color: #0055ee; afont-style: italic">bug</span></h2><br/> -->
            Search inside support bundles.
          </center>
        </div>
      </div>

      <div class="row">
        <div class="" width=800>
          &nbsp;
          <center>
              <form method="get" action="/submit">
                <!--<input type="text" name="url" placeholder="Support bundle URL(s)" class="input-xxlarge"/>-->
                <textarea class="input-xxlarge" rows="3" name="url"
                placeholder="bug-number/*.tgz OR Support bundle URL(s).  Separate urls with newlines."></textarea>
                <p>
                <button type="submit" class="btn">Submit</button>
              </form>
          </center>
        </div>
      </div>

    </div> <!-- /container -->     
  </body>
</html>
