<html>
    <head>
        <title>VMWare vSAN Log Visualization</title>
        <script src="../static/js/jquery-2.1.1.min.js"></script>

        <script type="text/javascript" src="../static/js/timeline.js"></script>
        <script type="text/javascript" src="../static/js/borathon_timeline.js"></script>
        <link href="../static/css/timeline.css" rel="stylesheet">

        <script type="text/javascript">
            $(document).ready(function () { 
                    //test raw log.
                    $.ajax({
                        url: "raw",
                        data: {linenum: 5, file: "/home/lich/test.log"}
                        }).done(function(result){
                            alert(result);
                            var logLineArrays = parseReturnedRawLogLines(result);
                            onRawLogLinesFetched(logLineArrays, 5);
                        });
                    });
        </script>
    </head>
    <body>
        <div id="header"></div>
        <hr/>
        <h3>A <a href="hostd.log">hostd.log</a> visualization. UI requesting json sample: <a href="hostd.log.json">JSON Sample</a></h3>
        <div>
            <select id="myselect">
                <option value="all">all</option>
                <option value="verbose">verbose</option>
                <option value="info">info</option>
            </select>
        </div>
        <div id="mytimeline"></div>
        <hr/>
        <div id="footer">
        </div>
    </body>
</html>
