{% extends "layout.html" %}
{% block body %}
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
			<h4>Entities:</h4>
	  	  	<div class="panel-group well" id="accordion">
	  	  </div>
        </div><!--/span-->
        <div class="span9">
			<div class="clearfix">
				<h4 style="float:left">Timeline:</h4>
			<div style="float:left; margin-left: 280px; margin-top: 10px">
				<div id="loading"></div>
			</div>
				<span style="float:right; margin-top:10px;">
					<span class="legend info">Info</span>
					<span class="legend warning">Warning</span>
					<span class="legend error">Error</span>
				</span>	
			</div>
			
            <div class="well">
				<div class="clearfix">
					<a href="#" class="timeTravel prev disabled"><< Prev</a>
					<a href="#" class="timeTravel next">Next >></a>
				</div>
  				<div id="logsTimeline"></div>
            </div>
			
				<h4>Related PRs:</h4>
				<div class="well" id="prsContainer"></div>
			
		      <div id="rawLogsModal" class="modal hide fade">
					  <div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						  <h4>Raw Logs</h4>
					  </div>
					  <div class="modal-body">
							 <p><a id="rawLogsFile" ></a></p>
							 <pre class="prettyprint linenums">
							  <ul class="linenums" id="rawLogs" style="list-style-type: none; margin: 0;"> </ul>
							 </pre>
		   	 	  </div>
					  <div class="modal-footer">
								<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					 </div>
		    </div>
          
        </div><!--/span-->
      </div><!--/row-->	  
    </div><!--/.fluid-container-->
	
 	<script type="text/javascript">
		sb_url = "{{ data['url'] }}";
 	   </script>
{% endblock %}
